@model IEnumerable<OHD_Project_Sem_3.Areas.Admin.Models.Requests>

@{
    ViewBag.Title = "ConfirmReturneds";
}

<h2>ConfirmReturneds</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Facility.FacilityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityCategory.FacilityCategory_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requestor.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssgineeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_At)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated_At)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Facility.FacilityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityCategory.FacilityCategory_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requestor.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssgineeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_At)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_At)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            
            @Html.ActionLink("Details", "DetailForConfirmReturned", new { id = item.RequestId }) |
        </td>
    </tr>
}

</table>
