@*@model OHD_Project_Sem_3.Areas.Admin.Models.Request*@
@model OHD_Project_Sem_3.Areas.Admin.Models.TotalData


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section _Header
{
    @Html.Partial("_HeaderLayout");
}
@section _LeftMenu
{
    @Html.Partial("_LeftMenu");
}
@section _headerPage
{
    <header class="page-header">
        <h2>Categories</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href=/Admin/Requests/Create">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin Manager / Categories / Add Categories</span></li>
            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>
}
@Html.Partial("_HeaderLayout")

<div class="form-v5">
    <div class="page-content">
        <div class="form-v5-content">
            <form class="form-detail" action="/Admin/Requests/CreateStore" method="post" name="RequestForm">
                <h2>Form Request</h2>
                <div class="form-row">
                    <label class="text-bold">Category</label>
                    <select name="category" class="input-text" id="filters">
                        <option value="default">Select</option>
                        @foreach (var item in Model.FacilityCategories)
                        {
                            <option value="@item.FacilityCategory_Id">@item.FacilityCategory_Name</option>
                        }
                    </select>
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="form-row">
                    <label class="text-bold">Facility</label>
                    <select name="facility" class="input-text">
                        <option value="default">Select</option>
                        @foreach (var item in Model.Facilities)
                        {
                            <option class="row3" data-type="@item.FacilityCategory_Id" value="@item.FacilityId">@item.FacilityName</option>

                        }
                    </select>
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="form-row">
                    <label class="text-bold">Message</label>
                    <textarea class="input-text" name="remarks" rows="7" cols="65" placeholder="Enter the message." required></textarea>

                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Send">
                </div>
            </form>

        </div>
    </div>
</div>
