@model OHD_Project_Sem_3.Areas.Admin.Models.Requests

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section _Header
{
    @Html.Partial("_HeaderLayout");
}
@section _LeftMenu
{
    @Html.Partial("_LeftMenu");
}

@section _headerPage
{
    <header class="page-header">
        <h2>Details Request</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/Admin/Requests/Create">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin Manager / Request / Details</span></li>
            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>
}

<div class="form-v5">
    <div class="page-content">
        <div class="form-v5-content">
            <div class="form-detail">
                <h2>Detail Request</h2>

                <dl class="dl-horizontal text-left dl-style " style="margin: 0 50px 0 118px">
                    <dt>

                        @Html.DisplayNameFor(model => model.Facility.FacilityName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Facility.FacilityName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FacilityCategory.FacilityCategory_Name)
                    </dt>

                    <dd >
                        @Html.DisplayFor(model => model.FacilityCategory.FacilityCategory_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RequestorId)
                    </dt>

                    <dd >
                        @Html.DisplayFor(model => model.RequestorId)
                    </dd>

                    <dt >
                        @Html.DisplayNameFor(model => model.AssgineeId)
                    </dt>

                    <dd >
                        @Html.DisplayFor(model => model.AssgineeId)
                    </dd>

                    <dt >
                        @Html.DisplayNameFor(model => model.Remarks)
                    </dt>

                    <dd >
                        @Html.DisplayFor(model => model.Remarks)
                    </dd>

                    <dt >
                        @Html.DisplayNameFor(model => model.Created_At)
                    </dt>

                    <dd >
                        @Html.DisplayFor(model => model.Created_At)
                    </dd>

                    <dt >
                        @Html.DisplayNameFor(model => model.Updated_At)
                    </dt>

                    <dd >
                        @Html.DisplayFor(model => model.Updated_At)
                    </dd>

                    <dt >
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd >
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt >
                        Email
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.Requestor.Email)
                    </dd>
                    <dt >
                        Phone
                    </dt>
                    <dd >
                        @Html.DisplayFor(model => model.Requestor.Phone)
                    </dd>

                </dl>
                <div class="form-row-last">
                    @Html.ActionLink("Delete", "Delete","Requests", new { id = Model.RequestId }, new {@class="btn btn-primary register",
                        @style = "padding:15px; margin-right:15px;"})
                    @Html.ActionLink("Back to list", "Index", "Requests", null,
                        new {@class = "btn btn-primary register", @style = "padding:14px"})
                </div>
            </div>


        </div>
    </div>
</div>
