@model OHD_Project_Sem_3.Areas.Admin.Models.DataUserAndRequest

@{
    ViewBag.Title = "DetailForConfirmReturned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section _Header
{
    @Html.Partial("_HeaderLayout");
}
@section _LeftMenu
{
    @Html.Partial("_LeftMenu");
}

@section _headerPage
{
    <header class="page-header">
        <h2>Detail For Confirm Returned</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="../Facilities/index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin Manager / Request / Detail For Confirm Returned</span></li>
            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>
}


<div class="form-v5">
    <div class="page-content">
        <div class="form-v5-content">
            <div class="form-detail">
                <h2>Detail For Confirm Returned</h2>
                <form action="/Admin/Requests/ConfirmReturned" method="post">
                    <dl class="dl-horizontal dl-style" style="margin: 0 50px 0 118px">
                        <dt>
                            @Html.DisplayNameFor(model => model.Request.Facility.FacilityName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Request.Facility.FacilityName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Request.FacilityCategory.FacilityCategory_Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Request.FacilityCategory.FacilityCategory_Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Request.Requestor.FullName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Request.Requestor.FullName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Request.Remarks)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Request.Remarks)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Request.Created_At)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Request.Created_At)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Request.Updated_At)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Request.Updated_At)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Request.Status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Request.Status)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Request.Requestor.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Request.Requestor.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Request.Requestor.Phone)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Request.Requestor.Phone)
                            @Html.HiddenFor(m => m.Request.RequestId)
                            @Html.HiddenFor(m => m.Request.FacilityId)
                        </dd>
                    </dl>

                    <div class="form-row-last">

                        <input type="submit" value="Save" class="btn btn-primary register" style="margin-right: 15px" />
                        @Html.ActionLink("Back to list", "Index", "Requests", null,
                            new { @class = "btn btn-primary register", @style = "padding:14px" })
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>