@model OHD_Project_Sem_3.Areas.Admin.Models.DataUserAndRequest

@{
    ViewBag.Title = "DetailsForFacility";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var selectAssignorList = new List<SelectListItem>();
    SelectListItem item = new SelectListItem()
    {
        Text = "Select",
        Value = "0"
    };
    selectAssignorList.Add(item);
    foreach (var it in Model.Accounts)
    {
        SelectListItem listItem = new SelectListItem()
        {
            Text = it.FullName,
            Value = it.Id
        };
        selectAssignorList.Add(listItem);
    }
    var dropDownList = new SelectList(selectAssignorList);
}


@section _Header
{
    @Html.Partial("_HeaderLayout");
}
@section _LeftMenu
{
    @Html.Partial("_LeftMenu");
}

@section _headerPage
{
    <header class="page-header">
        <h2>Details For Facility</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="../Facilities/index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin Manager / Request / Details For Facility</span></li>
            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>
}

<div class="form-v5">
    <div class="page-content">
        <div class="form-v5-content">
            <div class="form-detail">
                <h2>Detail For Facility</h2>
                <form action="/Admin/Requests/DetailsForFacility" method="post" class="form-detail">
                    <dl class="dl-horizontal dl-style" style="margin-left: 75px">
                        <dt>
                            @Html.DisplayNameFor(model => model.Request.Facility.FacilityName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Request.Facility.FacilityName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Request.FacilityCategory.FacilityCategory_Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Request.FacilityCategory.FacilityCategory_Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Request.Requestor.FullName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Request.Requestor.FullName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Request.Requestor.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Request.Requestor.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Request.Requestor.Phone)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Request.Requestor.Phone)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Request.AssgineeId)
                        </dt>
                        <dd name="ass" class="dropdown-asgn" >
                            @Html.DropDownListFor(m => m.Request.AssgineeId, selectAssignorList, new {@class="input-text"})
                            @Html.HiddenFor(m => m.Request.RequestId)


                        </dd>
                    </dl>


                    <div class="form-row-last">

                        <input type="submit" value="Save" class="btn btn-primary register" style="margin-right: 15px" />
                        @Html.ActionLink("Back to list", "Index", "Requests", null,
                            new { @class = "btn btn-primary register", @style = "padding:14px" })
                    </div>
                </form>
                </div>
            </div>


        </div>
    </div>
