@model OHD_Project_Sem_3.Areas.Admin.Models.Requests

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section _Header
{
    @Html.Partial("_HeaderLayout")
}
@section _LeftMenu
{
    @Html.Partial("_LeftMenu")
}
@section _headerPage
{
    <header class="page-header">
        <h2>Edit Request</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin Manager / Request / Edit Request</span></li>
            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>
}



<div class="form-v5">

    <div class="page-content">
        <div class="form-v5-content">
            @using (Html.BeginForm("Edit", "Requests", FormMethod.Post, new { @class = "form-detail" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.RequestId)
                <h2>Form Edit Request</h2>
                <div class="form-row">
                    @Html.LabelFor(model => model.RequestorId, htmlAttributes: new { @class = "control-label text-bold" })
                    @Html.EditorFor(model => model.RequestorId, new { htmlAttributes = new { @class = "input-text" } })
                    @Html.ValidationMessageFor(model => model.RequestorId, "", new { @class = "text-danger" })
                    <i class="far fa-clipboard"></i>
                </div>
                <div class="form-row">
                    @Html.LabelFor(model => model.AssgineeId, htmlAttributes: new { @class = "control-label text-bold" })
                    @Html.EditorFor(model => model.AssgineeId, new { htmlAttributes = new { @class = "text-input" } })
                    @Html.ValidationMessageFor(model => model.AssgineeId, "", new { @class = "text-danger" })
                    <i class="far fa-clipboard"></i>
                </div>
                <div class="form-row">
                    @Html.LabelFor(model => model.FacilityCategory_Id, "FacilityCategory_Id", htmlAttributes: new { @class = "control-label text-bold" })
                    @Html.DropDownList("FacilityCategory_Id", null, htmlAttributes: new { @class = "input-text" })
                    @Html.ValidationMessageFor(model => model.FacilityCategory_Id, "", new { @class = "text-danger" })
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="form-row">
                    @Html.LabelFor(model => model.FacilityId, "FacilityId", htmlAttributes: new { @class = "control-label text-bold" })
                    @Html.DropDownList("FacilityId", null, htmlAttributes: new { @class = "input-text" })
                    @Html.ValidationMessageFor(model => model.FacilityId, "", new { @class = "text-danger" })
                    <i class="fas fa-caret-down"></i>
                </div>

                <div class="form-row">
                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label text-bold" }) <br />
                    @Html.TextAreaFor(model => model.Remarks, new { htmlAttributes = new { @class = "input-text" }, rows = 5, cols = 64 })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>
                <div class="form-row">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label text-bold" })
                    @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "input-text" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="form-row-last" style="margin-top: 20px">
                    <input type="submit" class="register btn btn-primary" style="margin-right: 30px" value="Submit">
                    @Html.ActionLink("Back to list", "Index", "Requests", null,
                        new { @class = "btn btn-primary register", @style = "padding:14px" })
                </div>

            }
        </div>
    </div>
</div>
