@model IEnumerable<OHD_Project_Sem_3.Areas.Admin.Models.Requests>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section _Header
{
    @Html.Partial("_HeaderLayout")
}
@section _LeftMenu
{
    @Html.Partial("_LeftMenu")
}
@section _headerPage
{
    <header class="page-header">
        <h2>List Request</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin Manager / Request / List Request</span></li>
            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>
}
<div style="margin-top: 150px; padding: 0 30px 0 50px">

    <h2 class="text-center text-bold" style="margin-bottom: 30px; margin-right: 100px">List Request</h2>
    <hr />
    @Html.Partial("_AlertMessage")
    <br />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facility.FacilityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilityCategory.FacilityCategory_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssgineeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Facility.FacilityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FacilityCategory.FacilityCategory_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requestor.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssgineeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_At)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated_At)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RequestId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RequestId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RequestId })
                </td>
            </tr>
        }

    </table>
    </div>