@model PagedList.IPagedList<OHD_Project_Sem_3.Areas.Admin.Models.Facility>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section _Header
{
    @Html.Partial("_HeaderLayout");
}
@section _LeftMenu
{
    @Html.Partial("_LeftMenu");
}
@section _headerPage
{
    <header class="page-header">
        <h2>List Categories</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin Manager / Categories / List Categories</span></li>
            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>
}

<h2 class="text-center" style="margin-bottom: 30px">List Category</h2>
<br />
@* <div class="alert alert-success alert-dismissible " id="hello" role="alert" style="display: none" > *@
@*     <strong>@TempData["Msg"]</strong> *@
@*     <button type="button" class="close" data-dismiss="alert" aria-label="Close"> *@
@*         <span aria-hidden="true">&times;</span> *@
@*     </button> *@
@* </div> *@
@Html.Partial("_AlertMessage")
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "FacilityCategories", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Facility Name", "Index", new { sortOrder = ViewBag.FaciCategoryNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("CreatedAt", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            UpdateAt
        </th>
        <th>
            Status
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityCategory.FacilityCategory_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FacilityCategory_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.FacilityCategory_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FacilityCategory_Id })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



