@model PagedList.IPagedList<OHD_Project_Sem_3.Areas.Admin.Models.FacilityCategory>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section _Header
{
    @Html.Partial("_HeaderLayout");
}
@section _LeftMenu
{
    @Html.Partial("_LeftMenu");
}
@section _headerPage
{
    <header class="page-header">
        <h2>List Categories</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin Manager / Categories / List Categories</span></li>
            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>
}
<div style="margin-top: 150px; padding: 0 30px 0 50px">
    <h2 class="text-center" style="margin-bottom: 30px; margin-right: 100px">List Category</h2>
    <hr />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "FacilityCategories", FormMethod.Get))
            {
                <p style="margin-left: 60%">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" />
                </p>
            }
        </div>
  


    </div>
    <br />
    @Html.Partial("_AlertMessage")
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Facility Name", "Index", new { sortOrder = ViewBag.FaciCategoryNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Created At", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Updated At", "Index", 
                new { sortOrder = ViewBag.UpdatedFa, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>Action</th>
    </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.FacilityCategory_Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Created_At)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Updated_At)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FacilityCategory_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FacilityCategory_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FacilityCategory_Id })
                </td>
            </tr>
        }


    </table>
     Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount 
 
 @Html.PagedListPager(Model, page => Url.Action("Index", 
     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })) 
</div>

 
