@model OHD_Project_Sem_3.Areas.Admin.Models.Account

@{
    ViewBag.Title = "ProfileUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section _Header
{
    @Html.Partial("_HeaderLayout");
}
@section _LeftMenu
{
    @Html.Partial("_LeftMenu");
}
@section _headerPage
{
    <header class="page-header">
        <h2>Profile</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/Admin/Requests/Create">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin Manager / Categories / Add Categories</span></li>
            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>
}
@Html.Partial("_HeaderLayout")
        <div class="form-v5">
            <div class="page-content">
                <div class="form-v5-content">
                    <div class="form-detail">
                        <h2>Profile</h2>

                        <dl class="dl-horizontal text-left dl-style" style="margin: 0 50px 0 118px">
                            <dt>
                                Full Name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FullName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                Role
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AccountRole.Name)
                            </dd>
                            <dt>
                               Phone Number
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>

                            <dt>
                               Created At
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Created_At)
                            </dd>

                            <dt>
                               Category Id
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FacilityCategory_Id)
                            </dd>


                        </dl>
                        <div class="form-row-last">
                            @Html.ActionLink("Home", "Create", "Requests", null, new
                            {
                                @class = "btn btn-primary register",
                                @style = "padding:15px; margin-right:15px;"
                            })

                            @Html.ActionLink("List Request", "Index", "Requests", null,
                                new { @class = "btn btn-primary register", @style = "padding:15px" })
                        </div>
                    </div>


                </div>
            </div>
        </div>
