@model OHD_Project_Sem_3.Areas.Admin.Models.Account

@{
    ViewBag.Title = "ProfileUser";
//    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Dashboard | JSOFT Themes | JSOFT-Admin</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
    <meta name="author" content="JSOFT.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/Content/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/Content/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/Content/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="/Content/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="/Content/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="/Content/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="/Content/assets/vendor/morris/morris.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/Content/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/Content/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/Content/assets/stylesheets/theme-custom.css">


    <!-- Head Libs -->
    <script src="/Content/assets/vendor/modernizr/modernizr.js"></script>

    <link rel="stylesheet" type="text/css" href="/Content/css/roboto-font.css">
    <link rel="stylesheet" type="text/css" href="/Content/fonts/font-awesome-5/css/fontawesome-all.min.css">

    @Styles.Render("~/Content/Style")
    <link rel="stylesheet" type="text/css" href="/Content/css/style.css">


</head>
<body>
    <section class="body">

        @Html.Partial("_HeaderLayout")
        <div class="form-v5">
            <div class="page-content">
                <div class="form-v5-content">
                    <div class="form-detail">
                        <h2>Profile</h2>

                        <dl class="dl-horizontal text-left dl-style" style="margin: 0 50px 0 118px">
                            <dt>
                                Full Name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FullName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                Role
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AccountRole.Name)
                            </dd>
                            <dt>
                               Phone Number
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>

                            <dt>
                               Created At
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Created_At)
                            </dd>

                            <dt>
                               Category Id
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FacilityCategory_Id)
                            </dd>


                        </dl>
                        <div class="form-row-last">
                            @Html.ActionLink("Home", "Create", "Requests", null, new
                            {
                                @class = "btn btn-primary register",
                                @style = "padding:15px; margin-right:15px;"
                            })

                            @Html.ActionLink("List Request", "HistoryAssginee", "Requests", null,
                                new { @class = "btn btn-primary register", @style = "padding:15px" })
                        </div>
                    </div>


                </div>
            </div>
        </div>
</section>



<!-- Vendor -->
<script src="/Content/assets/vendor/jquery/jquery.min.js"></script>
<script src="/Content/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="/Content/assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/Content/assets/vendor/nanoscroller/nanoscroller.js"></script>
<script src="/Content/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/Content/assets/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/Content/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js "></script>


<!-- Specific Page Vendor -->
<script src="/Content/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
<script src="/Content/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
<script src="/Content/assets/vendor/jquery-appear/jquery.appear.js"></script>
<script src="/Content/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>



<!-- Theme Base, Components and Settings -->
<script src="/Content/assets/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/assets/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/assets/javascripts/theme.init.js"></script>


<!-- Examples -->
<script src="/Content/assets/javascripts/dashboard/examples.dashboard.js"></script>
@Scripts.Render("~/bundles/js")

@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script> *@
@* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css"> *@
</body>
</html>